.header {

  nav {
    .nav-brand {
      position: absolute;
      top: 30px;
      left: 40px;

      &:hover {
        cursor: pointer;
      }
    }
    .hamburger {
      position: absolute;
      top: 30px;
      right: 40px;
      color: black;
        &:hover {
          cursor: pointer;
      }
    }
  }
}
